.speech{
    font-size: 15px;
    color: black;
}
.stage-direction{
    font-size: 15px;
    color: black;
    background-color: aquamarine;

}
.stage-direction:hover{
    background-color: blanchedalmond;
    color: cadetblue;
}

.name {
    font-size: 20px;
    color: black;

}

.SHYLOCK {
    color: darkcyan;
}
.BASSANIO {
    color: darkkhaki;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    margin: 10px;
  }
  tr:nth-child(even) {
    background-color: rosybrown;
  }
.name:hover{
    color:salmon;
    text-shadow: 2px 2px 3px skyblue;
    border-style: dashed;
}